* {
    margin: 0;
    padding: 0;
  

}

body {
    background: rgb(5,5,5);
    background: linear-gradient(330deg, rgba(5,5,5,1) 0%, rgba(15,189,222,1) 100%, rgba(22,70,96,1) 100%);
    min-height: 100vh;
}

.card{
    
    box-shadow: 10px 10px 10px rgb(40, 3, 3) ;
}

